#container{
    border: 1px black solid;
    background-color: lavender;
    width: 50%;
    height: 26rem;
    margin: 10rem auto;
    text-align: center; 
}
h1{
    font-size: 2.5rem;
}
#funFact{
    width: 90%;
    margin: 0 auto;
    background-color: bisque;
    font-size: 1.25rem;
}
button{
    margin: 1.25rem;
    width: 9rem;
    padding: 0.5rem 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    background-color: rgb(199, 243, 243);
    border-radius: 1rem;
}
button:hover{
    cursor: pointer;
}
.correct{
    background-color: rgb(3, 171, 3);
}
.wrong{
    background-color: red;
}
.finished{
    font-size: 9rem;
    color: royalblue;
}